# Fichiers système
.DS_Store
Thumbs.db

# Fichiers d'éditeur
.vscode/
.idea/
*.swp
*.swo

# Fichiers temporaires
*.tmp
*.temp
*~

# Logs
*.log

# Dependencies (si vous ajoutez des packages plus tard)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
